@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h1>Employee Test App</h1>
            <h3>This is an Employee Test Application which implements basic CRUD operetions.</h3>
            <p>
                <a class="btn btn-primary btn-lg" href="/Employee/">Try it</a>
            </p>
        </div>
    </div>
    <div>
        <h4>This application was designed with learning purpose</h4>
        <p>Next technologies was used in development process: </p>
        <ul>
            <li>ASP.NET MVC</li>
            <li>AngularJS</li>
            <li>Bootstrap</li>
            <li>Entity Framework</li>
        </ul>
        <hr/>
        <p>Currently Companies are hardcoded with provided data</p>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Company Name</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>SymphonySolutions</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>EPAM</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>SoftServe</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Eleks</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>GlobalLogic</td>
                        </tr>
                    </table>
                </div>  
            </div>

        </div>
    </div>

</div>