@{
    ViewBag.Title = "Index";
}

<div class="container" ng-app="app" ng-controller="EmployeeCtrl">
    <h2>Index</h2>

    <table class="table">
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Company
            </th>
            <th></th>
        </tr>

        <tr ng-repeat="employee in model.Employees">
            <td>
                {{employee.LastName}}
            </td>
            <td>
                {{employee.FirstMidName}}
            </td>
            <td>
                {{employee.Company.CompanyName}}
            </td>
            <td>
                <a ng-click="showEditForm(true, employee)"><span class="glyphicon glyphicon-cog"></span></a> |
                <a ng-click="deleteEmployee(employee.EmployeeID)"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
        <tr ng-if="model.Employees.lenght == 0">
            <td colspan="5" class="text-center">There are no employees to display</td>
        </tr>
        <tr ng-if="states.ShowAddNewForm">
            <td>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="newEmployee.LastName"/>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="First Name" ng-model="newEmployee.FirstMidName"/>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Company" ng-model="newEmployee.CompanyId"/>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="addEmployee()">Add</button>
                <button type="button" class="btn btn-default" ng-click="showAddNewForm(false)">Cancel</button>
            </td>
        </tr>
        <tr ng-if="states.ShowEditForm">
            <td>
                <input type="text" class="form-control" placeholder="Last Name" ng-model="editedEmployee.LastName"/>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="First Name" ng-model="editedEmployee.FirstMidName"/>
            </td>
            <td>
                <input type="text" class="form-control" placeholder="Company" ng-model="editedEmployee.Company.CompanyID" disabled/>
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="editEmployee(editedEmployee)">Save</button>
                <button type="button" class="btn btn-default" ng-click="showEditForm(false)">Cancel</button>
            </td>
        </tr>

    </table>

    <p>
        <button ng-click="showAddNewForm(true)" class="btn btn-primary" >Create</button>
    </p>
</div>
